<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.geojmodelbuilder.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ModelBuilderPerspective"
            class="com.geojmodelbuilder.ui.Perspective"
            id="geojmodelbuilder.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="GeoJModelBuilderUI.application"
            name="GeoJModelBuilder">
         <property
               name="appName"
               value="GeoJModelBuilder">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.geojmodelbuilder.ui.editors.ModelEditor"
            contributorClass="com.geojmodelbuilder.ui.editors.ModelEditorActionBarContributor"
            default="true"
            id="com.geojmodelbuilder.ui.editor.modeleditor"
            name="ModelEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.geojmodelbuilder.ui.views.wps.WPSResourceTreeView"
            id="com.geojmodelbuilder.ui.view.wpstree"
            name="Resources">
      </view>
      <view
            class="com.geojmodelbuilder.ui.views.workflow.WorkflowTreeView"
            id="com.geojmodelbuilder.ui.view.workflowtree"
            name="Workflows"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="GeoJModelBuilderUI.application"
            name="GeoJModelBuilder">
         <property
               name="appName"
               value="GeoJModelBuilder">
         </property>
      </product>
   </extension>

</plugin>
